* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #cffafe, #22d3ee);
  display: flex;
  flex-direction: column;
}

.header-img {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
}

.text-container {
  margin-top: 50px;
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.image-1,
.image-2,
.image-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-1 {
  width: 175px;
}

.image-2 {
  width: 250px;
}

.btn {
  position: absolute;
  top: calc(100% - 5rem);
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e2e8f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-yes {
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  left: calc(50% + 1rem);
  transition: all 0.5s ease;
  z-index: 2;
}

@import url(https://fonts.googleapis.com/css?family=Euphoria+Script);
#text, #text-3 {
  text-shadow: 0 5px 5px #aaa;
  font-size: 45px;
  font-family: 'Euphoria Script', cursive;
  top:250px;
  width:300px;
  margin: auto auto 40px;
  text-align: center;
  color:#ff3399;
}
#text-2 {
  text-shadow: 0 5px 5px #aaa;
  font-size: 45px;
  font-family: 'Euphoria Script', cursive;
  top:250px;
  width:320px;
  margin:auto;
  word-break: break-all;
  text-align: center;
  color:#ff3399;
}

#text-3 {
  font-size: 24px;
  color: #985d7b;
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  display:block;
  margin: auto;
  -webkit-animation: beat 0.7s ease 0s infinite normal;
  -moz-animation: beat 0.7s ease 0s infinite normal;
  animation: beat 0.7s ease 0s infinite normal;

}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #ff3399;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-animation: glow 0.7s ease 0s infinite normal;
  -moz-animation: glow 0.7s ease 0s infinite normal;
  animation: glow 0.7s ease 0s infinite normal;
}
#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin :100% 100%;
  -webkit-animation: glow 0.7s ease 0s infinite normal;
  -moz-animation: glow 0.7s ease 0s infinite normal;
  animation: glow 0.7s ease 0s infinite normal;

}
@-webkit-keyframes glow {
  0% {  -webkit-box-shadow:0 0 100px #ff3399;}
  50% {  -webkit-box-shadow:0 0 200px #ff3399;}
  100% {  -webkit-box-shadow:0 0 100px #ff3399;}
}

@-moz-keyframes glow {
  0% {  -webkit-box-shadow:0 0 100px #ff3399;}
  50% {  -webkit-box-shadow:0 0 200px #ff3399;}
  100% {  -webkit-box-shadow:0 0 100px #ff3399;}
}

@keyframes glow {
  0% {  box-shadow:0 0 100px #ff3399;}
  50% {  box-shadow:0 0 200px #ff3399;}
  100% {  box-shadow:0 0 100px #ff3399;}
}
@-webkit-keyframes beat {
  0% {-webkit-transform: scale(1);    }
  50% {-webkit-transform: scale(1.1) ; }
  100% {-webkit-transform: scale(1)  ;}
}
@-moz-keyframes beat {
  0% {-webkit-transform: scale(1);  }
  50% {-webkit-transform: scale(1.1) ; }
  100% {-webkit-transform: scale(1)  ;}
}
@keyframes beat {
  0% {transform: scale(1);  }
  50% {transform: scale(1.1) ; }
  100% {transform: scale(1)  ;}
}


